@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#locationList::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

.fsize-20 {
  font-size: 16px !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#locationOverview {
  margin-left: calc(100vw / 2 - 352px / 2)
}
